<html>

<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>

<body>
    <h1>Text analyzer</h1>
    <form action='/Analyzer' method="get">
        <textarea name="text" style="margin: 0px;widows: 721px;height: 93px;"></textarea>

        <!-- this is the input tag  were we can use the inputs from the user-->
        <br><input type="checkbox" name="rmPunc">Remove Punctuation</input>
        <br> <button type='submit'>Analyze Text</button>
    </form>

</body>

</html>